{
    admin off
    auto_https disable_redirects
}

https://localhost:8443, https://127.0.0.1:8443 {
    tls internal
    encode zstd gzip

    handle /api/* {
        reverse_proxy app:8000
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}

http://:8080 {
    redir https://{host}:{$HTTPS_EXTERNAL_PORT:8443}{uri} 308
}
